      <div id="ffc-calculator__wrap">
        <section id="ffc-header" class="container mobile-adjusted page-top mt-3">
          <h1 style="text-align: center; font-weight: bold;"><%= t '.title' %></h1>
          <p><%= t '.aboutCom' %></p>
        </section>
        <section id="ffc-calculator" class="container mobile-adjusted">
          <div id="ffc-form" class="form-group">

            <div data-controller='vkid' class="mt-3"
            data-vkid-pkce-value=<%= @data_attributes%>>  
              <div id="VkIdSdkOneTap"></div>  
            </div>
             </div>
             </div>
          </div>
          <div id="ffc-result" class="card row section shadow bord m-2 m-lg-5">
            <div class="container">
              <div class="row row-cols-1 row-cols-lg-2  ">
                <div class="col p-1 p-lg-4">
            <div class="col-md-12 profile-info text-center p-2 m-auto">
              <img class="avatar" src=<%= asset_path('example-photo1.jpg') %> alt="amoureuxdumonde">
              <p class="username">@amoureuxdumonde</p>
              <span class="tag tag--exceptional">
                <%= t '.se' %>
              </span>
              <%= render partial: "partial_content/audience-score" %>
              <%= render partial: "partial_content/account-stats" %>
            </div>
            </div>
            <div class="col p-1 p-lg-3">
            <div class="col-md-12 data-info text-center p-2 p-lg-3">
              <div class="row">
                <div class="col-xs-12">
                  <div class="card ratio-followers bord shadow">
                    <div class="row">
                  <%= render partial: "partial_content/ratio-followers" %>
                  <%= render partial: "partial_content/ratio-average" %>
                  <%= render partial: "partial_content/friends-list" %>
              </div>
            </div>
          </div>
          </div>
          <div class="col-12 col-lg-12 posts-info m-auto p-3">
            <div class="row">
              <div class="col-xs-12 col-md-12 posts">
              <div class="card shadow bord">
                <p class="card-title m-auto p-1"><%= t '.latestEng' %></p>
                <div class="row m-auto p-1">
                  <div class="col-xs-6 col-sm-4 col-md-6 col-lg-2">
                    <div class="post text-center">
                      <div class="img rounded m-auto" style="background-image: url(<%= asset_path('example-photo2.jpg') %>);">
                       <%= render partial: "partial_content/photo-stats" %>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-6 col-lg-2">
                    <div class="post text-center">
                      <div class="img rounded m-auto" style="background-image: url(<%= asset_path('example-photo3.jpg') %>);">
                       <%= render partial: "partial_content/photo-stats" %>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-6 col-lg-2">
                    <div class="post text-center">
                      <div class="img rounded m-auto" style="background-image: url(<%= asset_path('example-photo4.jpg') %>);">
                       <%= render partial: "partial_content/photo-stats" %>
                  </div>
                <div class="col-xs-6 col-sm-4 col-md-6 col-lg-2">
                  <div class="post text-center">
                      <div class="img rounded m-auto" style="background-image: url(<%= asset_path('example-photo5.jpg') %>);">
                      <%= render partial: "partial_content/photo-stats" %>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-6 col-lg-2">
                  <div class="post text-center">
                      <div class="img rounded m-auto" style="background-image: url(<%= asset_path('example-photo6.jpg') %>);">
                      <%= render partial: "partial_content/photo-stats" %>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-6 col-lg-2">
                  <div class="post text-center">
                      <div class="img rounded m-auto" style="background-image: url(<%= asset_path('example-photo7.jpg') %>);">
                      
                </div>
              
              <% current_user.posts.each do |post|%>
                <div class="col-xs-6 col-sm-4 col-md-6 col-lg-2">
                  <div class="post text-center">
                      <div class="img rounded m-auto" style="background-image: url(<%= post.image_url%>);">
                      </div>
                    <p>
                     <span class="spangrey">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
                          <%= post.likes.count%>
                        </span>
                        <span class="spangrey">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/></svg>
                           <%= post.comments.count%>
                        </span>
                        <span class="spangrey">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16"><path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/></svg>
                           <%= post.engagement_score/10%>%
                        </span>
                    </p>
                  </div>
                </div>
              <%end%>
              </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          <div class="col-12 text-center p-2 ">
            <p class="subtext col-md-6 m-auto p-2"><%= t '.finTitle' %></p>
          </div>
        </section>
      </div>
