<nav class="navbar navbar-expand-lg bg-body-tertiary py-4">
  <div class="container-fluid" style="font-size: 24px;">
    <a class="navbar-brand" href="#" style="font-size: 28px;">WhereMyLikes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon spangrey"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding-bottom: 2px;"><%= t '.homes' %></a>
        </li>
        <li class="nav-item dropdown">
          <%= link_to '#', class: 'nav-link dropdown-toggle text-black', id: 'navbarDropdown', role: 'button', data: { "bs-toggle": 'dropdown' }, aria: { expanded: 'false' }, style: "padding-bottom: 5px;" do %>
            <%= tag.div '', class: "flag #{I18n.locale}-flag mt-1" %>
            <%= I18n.locale %>
          <% end %>
          <ul class="dropdown-menu">
            <% I18n.available_locales.each do |locale| %>
              <li>
                <% if I18n.locale == locale %>
                  <%= tag.span t(locale), class: 'dropdown-item' %>
                <% else %>
                  <%= link_to t(locale), root_path(locale: locale), class: 'dropdown-item' %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
