<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Where my likes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "partial_content/navbar"%>
    <%= yield %>
    <main>

    </main>
    <%= render partial: "partial_content/footer"%>
  </body>
</html>
