<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Where my likes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
    <script>
      window.VK_AUTH_REDIRECT_URL = "<%= ENV['VK_AUTH_REDIRECT_URL'] %>"
      window.VK_APP_ID = "<%= ENV['VK_APP_ID'] %>"
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: "partial_content/navbar"%>
    <%= yield %>
    <main>

    </main>
    <%= render partial: "partial_content/footer"%>
  </body>
</html>
